<!-- frontend/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<%- include('_partials/header') %>
	<body>
		<%- include('_partials/navbar') %>

		<section class="hero">
			<!-- Uncomment and use the hero image if needed -->
			<img class="hero-img" src="/images/hero.jpg" alt="Hero Image" />
		</section>

		<section class="main">
			<%- include('postLayout', { allPosts: allPosts }) %> <%-
			include('_partials/sidebar') %>
		</section>

		<%- include('_partials/footer') %>

		<!-- JavaScript Files -->
		<script src="/script.js"></script>
	</body>
</html>
